<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head th:replace="~{fragments/header-head :: header-head((customPageTitle=#{index.title}))}"></head>

<body>

<div th:replace="fragments/theme-switcher :: theme-switcher"></div>

<svg th:replace="fragments/theme-sprite-ico :: theme-sprite-ico"></svg>

<header th:replace="fragments/header-search-panel :: header-search-panel"></header>

<div class="container-fluid">
    <div class="row">

        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sidebarMenuLabel">SIR RICHARD BOSS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                </div>

                <div th:replace="fragments/header-left-panel :: header-left-panel"></div>
            </div>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="#{order.form.update.header}"></h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#calendar3"></use>
                        </svg>
                        This week
                    </button>
                </div>
            </div>

        </main>
    </div>
</div>

<div th:replace="fragments/footer-scripts :: footer-scripts"></div>

</body>
</html>