<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head th:replace="~{fragments/header-head :: header-head((customPageTitle=#{index.title}))}"></head>

<body>

<div th:replace="fragments/theme-switcher :: theme-switcher"></div>

<svg th:replace="fragments/theme-sprite-ico :: theme-sprite-ico"></svg>

<header th:replace="fragments/header-search-panel :: header-search-panel"></header>

<div class="container-fluid">
    <div class="row">

        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sidebarMenuLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                </div>

                <div th:replace="fragments/header-left-panel :: header-left-panel"></div>
            </div>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-start">
                <h1 class="mt-2 h4">
                    <span th:text="#{order.show.headers.h1(${order.viewNum}, ${#temporals.format(order.orderDate, 'dd.MM.yyyy')})}">
                        Заказ № XXX от XX.XX.XXXX
                    </span>
                </h1>
            </div>
            <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-start border-bottom mb-2">
                <h2 class="h5">
                    <span th:text="${order.customer.viewLongNameWithContactInfo}"></span>&nbsp;
                    <span class="badge bg-secondary" th:text="${order.customer.id}"></span>
                </h2>
            </div>

            <div class="d-flex gap-2">
                <a id="btn-update-order" class="btn btn-primary"
                   th:href="@{/web/orders/{id}/update(id=${order.id})}"
                   th:text="#{main.btn.updateData}">
                </a>
                <button id="btn-show-order" type="button" class="btn btn-light"
                        th:data-show-url="@{/web/orders/{id}/{listType}(id=${order.id}, listType=${listType})}"
                        th:text="#{main.btn.showData}" disabled></button>

                <a class="btn btn-light"
                   th:href="@{/web/orders/{id}/change-status/{listType}(id=${order.id}, listType=${listType})}"
                   th:text="#{main.btn.statusData}">
                </a>
                <button id="btn-clone-order" type="button" class="btn btn-light"
                        th:data-clone-url="@{/web/orders/{id}/clone(id=${order.id})}"
                        th:text="#{main.btn.cloneData}"></button>
            </div>
            <br>

            <!-- Навигация по вкладкам -->
            <ul class="nav nav-tabs" id="orderTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active"
                            id="order-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#order"
                            type="button"
                            role="tab"
                            aria-controls="order"
                            aria-selected="true"
                            th:text="#{order.show.tabs.order}">
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="customer-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#customer"
                            type="button"
                            role="tab"
                            aria-controls="customer"
                            aria-selected="false"
                            th:text="#{order.show.tabs.customer}">
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="delivery-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#delivery"
                            type="button"
                            role="tab"
                            aria-controls="delivery"
                            aria-selected="false"
                            th:text="#{order.show.tabs.delivery}">
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="amount-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#amount"
                            type="button"
                            role="tab"
                            aria-controls="amount"
                            aria-selected="false"
                            th:text="#{order.show.tabs.calculate}">
                    </button>
                </li>
            </ul>

            <!-- Контент вкладок -->
            <div class="tab-content mt-3" id="orderTabContent">
                <!-- Вкладка Заказ -->
                <div class="tab-pane fade show active"
                     id="order"
                     role="tabpanel"
                     aria-labelledby="order-tab">
                    <div class="container-fluid">

                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.id}"></label>
                            <div class="col-sm-9" th:text="${order.id}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.no}"></label>
                            <div class="col-sm-9">
                                <strong th:text="${order.viewNum}"></strong>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.orderDate}"></label>
                            <div class="col-sm-9">
                                <strong th:text="${#temporals.format(order.orderDate, 'dd.MM.yyyy')}"></strong>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.orderType}"></label>
                            <div class="col-sm-9" th:text="${order.type.annotation}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.sourceType}"></label>
                            <div class="col-sm-9" th:text="${order.sourceType.annotation}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.advertType}"></label>
                            <div class="col-sm-9" th:text="${order.advertType.annotation}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.paymentType}"></label>
                            <div class="col-sm-9" th:text="${order.paymentType.annotation}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.productCategory}"></label>
                            <div class="col-sm-9" th:text="${order.productCategory.name}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.store}"></label>
                            <div class="col-sm-9" th:text="${order.store.site}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.annotation}"></label>
                            <div class="col-sm-9" th:text="${order.annotation}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.status}"></label>
                            <div class="col-sm-9">
                                <strong th:text="${order.status.annotation}"></strong>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.addedDate}"></label>
                            <div class="col-sm-9" th:text="${#temporals.format(order.dateAdded, 'dd.MM.yyyy HH:mm:ss')}"></div>
                        </div>
                    </div>
                    <br>
                    <h6 th:text="#{order.show.items.header}"></h6>
                    <div class="container-fluid small">
                        <table class="table table-striped table-sm" style="width:100%; table-layout:auto;">
                            <colgroup>
                                <col style="width:4%">
                                <col style="width:56%">
                                <col style="width:6%">
                                <col style="width:6%">
                                <col style="width:9%">
                                <col style="width:7%">
                                <col style="width:6%">
                                <col style="width:6%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col" th:text="#{order.show.items.table.headers.no}"></th>
                                <th scope="col" th:text="#{order.show.items.table.headers.product}"></th>
                                <th scope="col" th:text="#{order.show.items.table.headers.unit}"></th>
                                <th scope="col" th:text="#{order.show.items.table.headers.quantity}"></th>
                                <th scope="col" th:text="#{order.show.items.table.headers.price}"></th>
                                <th scope="col" th:text="#{order.show.items.table.headers.discountRate}"></th>
                                <th scope="col" th:text="#{order.show.items.table.headers.supplierAmount}"></th>
                                <th scope="col" th:text="#{order.show.items.table.headers.amount}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="orderItem : ${order.items}">
                                <td th:text="${orderItem.itemNum}"></td>
                                <td th:text="${orderItem.product.viewName}"></td>
                                <td th:text="#{order.show.items.table.headers.unit.value}"></td>
                                <td class="text-center" th:text="${orderItem.quantity}"></td>
                                <td class="text-end" th:text="${#numbers.formatDecimal(orderItem.price, 1, 'COMMA', 2, 'POINT')}">
                                </td>
                                <td class="text-end">
                                    <span th:text="${#numbers.formatDecimal(orderItem.discountRate, 1, 'COMMA', 2, 'POINT')}"></span>%
                                </td>
                                <td class="text-end" th:text="${#numbers.formatDecimal(orderItem.amountSupplier, 1, 'COMMA', 2, 'POINT')}">
                                </td>
                                <td class="text-end" th:text="${#numbers.formatDecimal(orderItem.amount, 1, 'COMMA', 2, 'POINT')}">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-end">
                                    <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).SUPPLIER])}"></strong>
                                </td>
                                <td class="text-end">
                                    <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).TOTAL])}"></strong>
                                </td>
                            </tr>
                            </tbody>

                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td th:text="#{order.show.items.table.footer.delivery}"></td>
                                <td></td>
                                <td class="text-end" th:text="${#numbers.formatDecimal(order.delivery.price, 1, 'COMMA', 2, 'POINT')}"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <strong th:text="#{order.show.items.table.footer.totalWithDelivery}"></strong>
                                </td>
                                <td></td>
                                <td class="text-end">
                                    <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).TOTAL_WITH_DELIVERY])}"></strong>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <br>
                    <h6 th:text="#{order.show.statuses.header}"></h6>
                    <div class="container-fluid small">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th scope="col" th:text="#{order.show.statuses.table.headers.no}"></th>
                                        <th scope="col" th:text="#{order.show.statuses.table.headers.status}"></th>
                                        <th scope="col" th:text="#{order.show.statuses.table.headers.crmStatus}"></th>
                                        <th scope="col" th:text="#{order.show.statuses.table.headers.crmSubStatus}"></th>
                                        <th scope="col" th:text="#{order.show.statuses.table.headers.addedDate}"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="orderStatusItem : ${order.statusHistory}">
                                        <th scope="row" th:text="${orderStatusItem.num}"></th>
                                        <td th:text="${orderStatusItem.status.annotation}"></td>
                                        <td></td>
                                        <td></td>
                                        <td th:text="${#temporals.format(orderStatusItem.dateAdded, 'dd.MM.yyyy HH:mm:ss')}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Вкладка Клиент -->
                <div class="tab-pane fade"
                     id="customer"
                     role="tabpanel"
                     aria-labelledby="customer-tab">

                    <div class="container-fluid">

                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.type}"></label>
                            <div class="col-sm-9 mb-4" th:text="${order.customer.type.longName}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.country}"></label>
                            <div class="col-sm-9" th:text="${order.customer.country.name}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.address}"></label>
                            <div class="col-sm-9" th:text="${order.customer.mainAddress.address.addressLine}"></div>
                        </div>

                        <div th:if="${order.customer.type == T(com.afa.core.enums.CustomerTypes).PERSON
                                        || order.customer.type == T(com.afa.core.enums.CustomerTypes).FOREIGNER_PERSON}">
                            <div class="row">
                                <label class="col-sm-3" th:text="#{order.show.customer.fields.lastName}"></label>
                                <div class="col-sm-9" th:text="${order.customer.person.lastName}"></div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3" th:text="#{order.show.customer.fields.firstName}"></label>
                                <div class="col-sm-9">
                                    <strong th:text="${order.customer.person.firstName}"></strong>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3" th:text="#{order.show.customer.fields.middleName}"></label>
                                <div class="col-sm-9" th:text="${order.customer.person.middleName}"></div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3" th:text="#{order.show.customer.fields.telephone}"></label>
                                <div class="col-sm-9">
                                    <strong th:text="${order.customer.fullPhoneNumber}"></strong>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3" th:text="#{order.show.customer.fields.email}"></label>
                                <div class="col-sm-9" th:text="${order.customer.email}"></div>
                            </div>
                        </div>

                        <div th:if="${order.customer.type == T(com.afa.core.enums.CustomerTypes).COMPANY
                                        || order.customer.type == T(com.afa.core.enums.CustomerTypes).BUSINESSMAN
                                        || order.customer.type == T(com.afa.core.enums.CustomerTypes).FOREIGNER_COMPANY}">
                            <div class="row">
                                <label class="col-sm-3" th:text="#{order.show.customer.fields.company.inn}"></label>
                                <div class="col-sm-9" th:text="${order.customer.inn}"></div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3" th:text="#{order.show.customer.fields.company.shortName}"></label>
                                <div class="col-sm-9">
                                    <strong th:text="${order.customer.shortName}"></strong>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3" th:text="#{order.show.customer.fields.company.longName}"></label>
                                <div class="col-sm-9" th:text="${order.customer.longName}"></div>
                            </div>
                            <br>
                            <h6 th:text="#{order.show.customer.company.contact.header}"></h6>
                            <div class="row">
                                <label class="col-sm-3" th:text="#{order.show.customer.fields.company.contact.fullName}"></label>
                                <div class="col-sm-9" th:text="${order.customer.mainContact.person.fullName}"></div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3" th:text="#{order.show.customer.fields.company.contact.telephone}"></label>
                                <div class="col-sm-9" th:text="${order.customer.mainContact.person.fullPhoneNumber}"></div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3" th:text="#{order.show.customer.fields.company.contact.email}"></label>
                                <div class="col-sm-9" th:text="${order.customer.mainContact.person.email}"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Вкладка Доставка -->
                <div class="tab-pane fade"
                     id="delivery"
                     role="tabpanel"
                     aria-labelledby="delivery-tab">
                    <div class="container-fluid">
                        <h5 th:text="#{order.show.tabs.delivery}">Доставка</h5>
                        <!-- Контент вкладки "Доставка" -->
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.delivery.fields.type}"></label>
                            <div class="col-sm-9" th:text="${order.delivery.deliveryType.annotation}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.delivery.fields.paymentType}"></label>
                            <div class="col-sm-9" th:text="${order.delivery.deliveryPaymentType.annotation}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.delivery.fields.country}"></label>
                            <div class="col-sm-9" th:text="${order.delivery.recipient.country.name}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.delivery.fields.address}"></label>
                            <div class="col-sm-9" th:text="${order.delivery.address.addressLine}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.delivery.fields.price}"></label>
                            <div class="col-sm-9" th:text="${#numbers.formatDecimal(order.delivery.price, 1, 'COMMA', 2, 'POINT')}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.delivery.fields.annotation}"></label>
                            <div class="col-sm-9" th:text="${order.delivery.annotation}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.delivery.fields.postpayAmount}"></label>
                            <div class="col-sm-2">
                                <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).POSTPAY])}"></strong>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.delivery.fields.trackCode}"></label>
                            <div class="col-sm-9">
                                <strong th:text="${order.delivery.trackCode}"></strong>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Вкладка Суммы -->
                <div class="tab-pane fade"
                     id="amount"
                     role="tabpanel"
                     aria-labelledby="amount-tab">

                    <div class="container-fluid">
                        <h5 th:text="#{order.show.tabs.calculate}"></h5>
                        <!-- Контент вкладки "Calculate" -->
                        <br/>

                        <div class="row">
                            <label class="col-sm-2" th:text="#{order.show.calculate.fields.totalAmount}"></label>
                            <div class="col-sm-2 text-end">
                                <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).TOTAL_WITH_DELIVERY])}"></strong>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2" th:text="#{order.show.calculate.fields.billAmount}"></label>
                            <div class="col-sm-2 text-end">
                                <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).BILL])}"></strong>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2" th:text="#{order.show.calculate.fields.supplierAmount}"></label>
                            <div class="col-sm-2 text-end">
                                <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).SUPPLIER])}"></strong>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2" th:text="#{order.show.calculate.fields.marginAmount}"></label>
                            <div class="col-sm-2 text-end">
                                <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).MARGIN])}"></strong>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2" th:text="#{order.show.calculate.fields.postpayAmount}"></label>
                            <div class="col-sm-2 text-end">
                                <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).POSTPAY])}"></strong>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2" th:text="#{order.show.calculate.fields.postpayType}"></label>
                            <div class="col-sm-2 text-end" th:text="${order.paymentType.annotation}">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div th:replace="fragments/footer-scripts :: footer-scripts"></div>

</body>
</html>