<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head th:replace="~{fragments/header-head :: header-head((customPageTitle=#{index.title}))}"></head>

<body>

<div th:replace="fragments/theme-switcher :: theme-switcher"></div>

<svg th:replace="fragments/theme-sprite-ico :: theme-sprite-ico"></svg>

<header th:replace="fragments/header-search-panel :: header-search-panel"></header>

<div class="container-fluid">
    <div class="row">

        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sidebarMenuLabel">SIR RICHARD BOSS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                </div>

                <div th:replace="fragments/header-left-panel :: header-left-panel"></div>
            </div>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="#{order.show.header}"></h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#calendar3"></use>
                        </svg>
                        This week
                    </button>
                </div>
            </div>

            <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-start">
                <h1 class="h4">
                    <span th:text="#{order.show.headers.h1(${order.viewNum}, ${#temporals.format(order.orderDate, 'dd.MM.yyyy')})}">
                        Заказ № XXX от XX.XX.XXXX
                    </span>
                </h1>
            </div>

            <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-start border-bottom mb-2">
                <h2 class="h5">
                    <span th:text="${order.customer.viewLongNameWithContactInfo}">Иванов Иван Иванович</span>&nbsp;
                    <span class="badge bg-secondary" th:text="${order.customer.id}">XXX</span>
                </h2>
            </div>

            <div class="d-flex gap-2">
                <button id="btn-update-order" type="button" class="btn btn-primary"
                        th:data-update-url="@{/web/orders/{id}/update/{listType}(id=${order.id}, listType=${listType})}"
                        th:text="#{main.btn.updateData}"></button>

                <button id="btn-show-order" type="button" class="btn btn-light"
                        th:data-show-url="@{/web/orders/{id}/{listType}(id=${order.id}, listType=${listType})}"
                        th:text="#{main.btn.showData}" disabled></button>

                <a class="btn btn-light"
                   th:href="@{/web/orders/{id}/change-status/{listType}(id=${order.id}, listType=${listType})}"
                   th:text="#{main.btn.statusData}">
                </a>

                <button id="btn-clone-order" type="button" class="btn btn-light"
                        th:data-clone-url="@{/web/orders/{id}/clone(id=${order.id})}"
                        th:text="#{main.btn.cloneData}"></button>
            </div>
            <br>

            <!-- Навигация по вкладкам -->
            <ul class="nav nav-tabs" id="orderTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active"
                            id="order-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#order"
                            type="button"
                            role="tab"
                            aria-controls="order"
                            aria-selected="true"
                            th:text="#{order.show.tabs.order}">
                        Заказ
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="customer-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#customer"
                            type="button"
                            role="tab"
                            aria-controls="customer"
                            aria-selected="false"
                            th:text="#{order.show.tabs.customer}">
                        Клиент
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="delivery-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#delivery"
                            type="button"
                            role="tab"
                            aria-controls="delivery"
                            aria-selected="false"
                            th:text="#{order.show.tabs.delivery}">
                        Доставка
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="amount-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#amount"
                            type="button"
                            role="tab"
                            aria-controls="amount"
                            aria-selected="false"
                            th:text="#{order.show.tabs.calculate}">
                        Суммы
                    </button>
                </li>
            </ul>

            <!-- Контент вкладок -->
            <div class="tab-content mt-3" id="orderTabContent">
                <!-- Вкладка Заказ -->
                <div class="tab-pane fade show active"
                     id="order"
                     role="tabpanel"
                     aria-labelledby="order-tab">
                    <div class="container-fluid">
                        <h5 th:text="#{order.show.tabs.order}">Заказ</h5>
                        <!-- Здесь будет контент для вкладки "Заказ" -->

                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.id}"></label>
                            <div class="col-sm-9" th:text="${order.id}"></div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.no}"></label>
                            <div class="col-sm-9">
                                <strong th:text="${order.viewNum}"></strong>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.orderDate}"></label>
                            <div class="col-sm-9">
                                <strong th:text="${#temporals.format(order.orderDate, 'dd.MM.yyyy')}"></strong>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.fields.status}"></label>
                            <div class="col-sm-9">
                                <strong th:text="${order.status.annotation}"></strong>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Вкладка Клиент -->
                <div class="tab-pane fade"
                     id="customer"
                     role="tabpanel"
                     aria-labelledby="customer-tab">

                    <div class="container-fluid">
                        <h5 th:text="#{order.show.tabs.customer}">Клиент</h5>
                        <!-- Контент вкладки "Клиент" -->
                        <br/>

                        <div class="row">
                            <label class="col-sm-3"
                                   th:text="#{order.show.customer.fields.type}"></label>
                            <div class="col-sm-9" th:text="${order.customer.type.longName}"></div>
                        </div>

                        <div th:if="${order.customer.type == T(com.afa.core.enums.CustomerTypes).PERSON || order.customer.type == T(com.afa.core.enums.CustomerTypes).FOREIGNER_PERSON}">

                            <div class="row">
                                <label class="col-sm-3"
                                       th:text="#{order.show.customer.fields.lastName}"></label>
                                <div class="col-sm-9" th:text="${order.customer.person.lastName}"></div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3"
                                       th:text="#{order.show.customer.fields.firstName}"></label>
                                <div class="col-sm-9">
                                    <strong th:text="${order.customer.person.firstName}"></strong>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3"
                                       th:text="#{order.show.customer.fields.middleName}"></label>
                                <div class="col-sm-9" th:text="${order.customer.person.middleName}"></div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3"
                                       th:text="#{order.show.customer.fields.telephone}"></label>
                                <div class="col-sm-9">
                                    <strong th:text="${order.customer.phoneNumber}"></strong>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3"
                                       th:text="#{order.show.customer.fields.email}"></label>
                                <div class="col-sm-9" th:text="${order.customer.email}"></div>
                            </div>
                        </div>

                        <div th:if="${order.customer.type == T(com.afa.core.enums.CustomerTypes).COMPANY || order.customer.type == T(com.afa.core.enums.CustomerTypes).BUSINESSMAN || order.customer.type == T(com.afa.core.enums.CustomerTypes).FOREIGNER_COMPANY}">

                            <h6 th:text="#{order.show.customer.company.header}"></h6>
                            <div class="row">
                                <label class="col-sm-3"
                                       th:text="#{order.show.customer.fields.company.inn}"></label>
                                <div class="col-sm-9" th:text="${order.customer.inn}"></div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3"
                                       th:text="#{order.show.customer.fields.company.shortName}"></label>
                                <div class="col-sm-9">
                                    <strong th:text="${order.customer.shortName}"></strong>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3"
                                       th:text="#{order.show.customer.fields.company.longName}"></label>
                                <div class="col-sm-9 mb-4" th:text="${order.customer.longName}"></div>
                            </div>

                            <h6 th:text="#{order.show.customer.company.contact.header}"></h6>


                        </div>
                    </div>

                </div>

                <!-- Вкладка Доставка -->
                <div class="tab-pane fade"
                     id="delivery"
                     role="tabpanel"
                     aria-labelledby="delivery-tab">
                    <div class="container-fluid">
                        <h5 th:text="#{order.show.tabs.delivery}">Доставка</h5>
                        <!-- Контент вкладки "Доставка" -->
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.delivery.fields.trackCode}"></label>
                            <div class="col-sm-9">
                                <strong th:text="${order.delivery.trackCode}"></strong>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Вкладка Суммы -->
                <div class="tab-pane fade"
                     id="amount"
                     role="tabpanel"
                     aria-labelledby="amount-tab">

                    <div class="container-fluid">
                        <h5 th:text="#{order.show.tabs.calculate}"></h5>
                        <!-- Контент вкладки "Calculate" -->
                        <br/>

                        <div class="row">
                            <label class="col-sm-2" th:text="#{order.show.calculate.fields.totalAmount}"></label>
                            <div class="col-sm-2 text-end">
                                <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).TOTAL_WITH_DELIVERY])}"></strong>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2" th:text="#{order.show.calculate.fields.billAmount}"></label>
                            <div class="col-sm-2 text-end">
                                <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).BILL])}"></strong>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2" th:text="#{order.show.calculate.fields.supplierAmount}"></label>
                            <div class="col-sm-2 text-end">
                                <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).SUPPLIER])}"></strong>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2" th:text="#{order.show.calculate.fields.marginAmount}"></label>
                            <div class="col-sm-2 text-end">
                                <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).MARGIN])}"></strong>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2" th:text="#{order.show.calculate.fields.postpayAmount}"></label>
                            <div class="col-sm-2 text-end">
                                <strong th:text="${#numbers.formatCurrency(order.amounts[T(com.afa.core.enums.AmountTypes).POSTPAY])}"></strong>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2"
                                   th:text="#{order.show.calculate.fields.postpayType}">
                                Postpay type
                            </label>
                            <div class="col-sm-2 text-end"
                                 th:text="${order.paymentType.annotation}">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div th:replace="fragments/footer-scripts :: footer-scripts"></div>

</body>
</html>