<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%date [%-5.5level] [%-30.30logger] (%-10.10thread\) %message %xException%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.log4j.xml" level="info"/>
        <Logger name="com.afa.devicer.back.controllers.RIDFilter" level="trace"/>
        <Logger name="com.afa.devicer.back.controllers.RequestScopeContext" level="trace"/>
        <Root level="info">
            <AppenderRef ref="APP"/>
        </Root>
    </Loggers>

    <Loggers>
        <Logger name="org.apache.log4j.xml" level="info"/>
        <Logger name="com.afa.devicer.back.controllers.RIDFilter" level="trace"/>
        <Logger name="com.afa.devicer.back.controllers.RequestScopeContext" level="trace"/>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>