<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header-left-panel" class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2"
               th:classappend="${activeMenu == 'home'} ? ' active' : ''"
               th:attr="aria-current=${activeMenu == 'home'} ? 'page' : null"
               th:href="@{(${urlHome})}">
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#house-fill"></use>
                </svg>
                <span th:text="#{main.menus.left.home}"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2"
               th:classappend="${activeMenu == 'orders'} ? ' active' : ''"
               th:attr="aria-current=${activeMenu == 'orders'} ? 'page' : null"
               th:href="@{(${urlOrders})}">
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#file-earmark"></use>
                </svg>
                <span th:text="#{main.menus.left.orders}"></span>
            </a>
        </li>
        <li class="nav-item"><a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#cart"></use>
            </svg>
            <span th:text="#{main.menus.left.products}"></span>
        </a></li>
        <li class="nav-item"><a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#people"></use>
            </svg>
            Покупатели
        </a></li>
        <li class="nav-item"><a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#graph-up"></use>
            </svg>
            Отчеты
        </a></li>
        <li class="nav-item"><a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#puzzle"></use>
            </svg>
            Интеграции
        </a></li>
    </ul>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
        <span>Отчеты</span> <a class="link-secondary" href="#" aria-label="Add a new report">
        <svg class="bi" aria-hidden="true">
            <use xlink:href="#plus-circle"></use>
        </svg>
    </a></h6>
    <ul class="nav flex-column mb-auto">
        <li class="nav-item"><a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#file-earmark-text"></use>
            </svg>
            Отчет по товарам за период
        </a></li>
        <li class="nav-item"><a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#file-earmark-text"></use>
            </svg>
            Агрегированный отчет по товарам
        </a></li>
        <li class="nav-item"><a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#file-earmark-text"></use>
            </svg>
            Отчет по товарам (по запросу)
        </a></li>
        <li class="nav-item"><a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#file-earmark-text"></use>
            </svg>
            Отчет "воронка продаж"
        </a></li>
    </ul>
    <hr class="my-3">
    <ul class="nav flex-column mb-auto">
        <li class="nav-item"><a class="nav-link d-flex align-items-center gap-2" href="#">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#gear-wide-connected"></use>
            </svg>
            Настройки
        </a></li>
        <li class="nav-item"><a class="nav-link d-flex align-items-center gap-2" th:href="@{(${urlLogout})}">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#door-closed"></use>
            </svg>
            <span th:text="#{main.menus.left.logout}"></span>
        </a></li>
    </ul>
</div>

</body>
</html>